<!DOCTYPE html>
<html >
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

Example of 2 controllers accessing 'common' variable <br>
Critique:
 	
I think this was down-voted because it's not modular. dummy is global to both controllers rather than shared in a more modular way via inheritance with $scope or controllerAs or using a service.
<hr>
<div ng-app="MyApp" >
<article ng-controller="ctrl1 as c1">
    <label>Change name here:</label>
    <input ng-model="c1.sData.name" />
    <h1>Control 1: {{c1.sData.name}}, {{c1.sData.age}}</h1>
</article>

<article ng-controller="ctrl2 as c2">

    <label>Change age here:</label>
    <input ng-model="c2.sData.age" />
    <h1>Control 2: {{c2.sData.name}}, {{c2.sData.age}}</h1>
<br> not working<button   ng-click="c2.countUp()">Add a year</button>

</article>
<article ng-controller="ctrl2">
<br> not working2<button   ng-click="countUp()">Add a year</button>

</article>

</div>
<script>
    var app = angular.module("MyApp", []);

    var dummy = {name: "Joe", age: 25}; // var definded beyond controller scope

    app.controller("ctrl1", function () {
        this.sData = dummy;
    });

    app.controller("ctrl2", function () {
        this.sData = dummy;

        var countUp = function() {    dummy.age=12; 
	   console.log("ctrl2-countUp");    
        };
    countUp();
    });
</script>
</body>
</html>
