<!DOCTYPE html>
<html>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <body>

    <script>
      var app1 = angular.module('myApp3', []);
      app1.controller('myCtrl', function($scope) {
      $scope.hour = 7;
      $scope.mySwitch=false;
      });
    </script> 
    
Check-box dis-ables buttom
<div ng-app="myApp3" ng-controller="myCtrl"> 
 
      
      <button  ng-disabled="mySwitch">Click Me Button</button> 
      <label ng-show="mySwitch"> Now button is disabled  </label>
   
      <p>
	<input type="checkbox" ng-model="mySwitch"/>disable-button-Check-box
      </p>
      <p>
	button disabled={{ mySwitch }}
      </p>
      <hr>  
      
      <button ng-click="hour = hour + 1">Increment hour</button>
      <button ng-click="hour = hour - 1">Decrement hour</button>
      hour={{ hour }} (is visible above 13)
      <p ng-show="hour > 13">I am visible , hour={{hour}}</p>
<br>
       <p ng-hide="hour > 14" > <font color="red">This text  will hide above 14,</font> now hour={{hour}}</p>
      
    </div> 
    




</body>
</html>
