<!doctype html>
<html ng-app>
<head>
<title>Dmtpc M3 RunDatabase</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

  <script src="progJanA.js"></script>  
  <script src="progJanB.js"></script>

</head>

<body>

<div ng-controller="JSprogJanA">
    JS progJanA
     &nbsp;&nbsp;&nbsp;&nbsp;
      set  DebugLevel:<input type="number" min="0" max="4"
                      ng-model="debug"  placeholder="0" /> 
     <input type="button" ng-click="actJanA1()" value="Exec actJanA1" />
     &nbsp;&nbsp;&nbsp;&nbsp;
     <input type="button" ng-click="actJanA2()" value="Exec actJanA2" />
    <br> Output: operator={{operator}}
     <br> Result: {{result}}
</div>
<hr>

<div ng-controller="JSprogJanB">
    JS progJanB
     &nbsp;&nbsp;&nbsp;&nbsp;
      set  DebugLevel:<input type="number" min="0" max="5"
                      ng-model="debug"  placeholder="0" /> 
     <input type="button" ng-click="actJanB1()" value="Exec actJanB1 pullDB" />
     &nbsp;&nbsp;&nbsp;&nbsp;
     <input type="button" ng-click="actJanB2()" value="Exec actJanB2" />
    <br> Output: operator={{operator}}
    <br> Result: {{result}}
</div>
<hr>

   <div  ng-controller="JSprogJanB">  
Second (independent) instance of the same controller JanB<br>
      set  DebugLevel:<input type="number" min="0" max="5"
                      ng-model="debug"  placeholder="0" /> 
 <input type="button" ng-click="actJanB1()" value="Exec actJanB1 DB-querry" />
<br>Raw JSON output from DB-PHP:{{result}}:
<hr> Formated output (works only if DBG level is 0), now={{debug}}:
    <table>
      <thead><tr><th>run ID </th><th>Operator</th> <th>timeStamp</th> <th>remark</th></tr></thead>
      <tbody>	
	<tr ng-repeat="user in result "><td>{{user.runId}}</td><td>{{ user.operator }}</td><td>{{user.timestamp}}<td>{{user.remark}}</td></tr>
      </tbody>
</tfoot></tfoot>
</table>
</div>

</body>
